@import './variables.scss';

.main-btn {
  margin: 5px;
  padding: 6px 0;
  border: 1px solid $BaseColor;
  background: #FFF;
  color: $BaseColor;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: block;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0,0,0,.5);
  transition: all .3s 0s ease;
}

.main-btn:hover {
  background: $BaseColor;
  color: #FFF;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}
