@import './variables.scss';

a, a:hover, a:focus {
  color: #2196F3;
  text-decoration: none;
}

.main-btn {
  margin: 5px;
  padding: 6px 0;
  border: 1px solid $BaseColor;
  background: $BaseColor;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: block;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  transition: all .3s 0s ease;
}

.main-btn:hover {
  background: #FFF;
  color: $BaseColor;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}

// for Quill Editor textbox
.ql-editor {
  min-height: 200px;
}
